
@{
    ViewBag.Title = "Collector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="frmcollector">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Manage Collector</div>
                    </div>
                    <div class="card-body col-md-7">
                        <div class="form-group">
                            <label for="txtcollectorname">Collector Name</label>
                            <input type="text" class="form-control" id="txtcollectorname" name="txtcollectorname" />
                        </div>
                        <div class="form-group">
                            <label for="selectSampleid" class=" form-control-label">Sample id</label>

                            <select name="selectSampleid" id="selectSampleid" class="form-control-sm form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                                <option value="4">Option #4</option>
                                <option value="5">Option #5</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="selectpatientid" class=" form-control-label">Patient id</label>

                            <select name="selectpatientid" id="selectpatientid" class="form-control-sm form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                                <option value="4">Option #4</option>
                                <option value="5">Option #5</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <input type="button" id="btncollectorsave" name="btncollectorsave" class="btn btn-success" value="Save" />
                            <input type="button" name="btncollectorcancel" class="btn btn-default" value="Cancel" />
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

