@model LIS.Model.Models.tbluser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        body {
            background-image: url('../../Content/images/bg.png');
        }
    </style>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" }))
    {
        @Html.AntiForgeryToken()




        <div class="container">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">

                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">password recovery</div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div>&nbsp&nbsp&nbsp <label for="email">Email Id</label></div> <br />
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <br />
                            <br />

                            <div class="form-group">
                                <div class="col-md-8">
                                    <input type="submit" value="Request" class="btn btn-success" />


                                </div>
                                <div>
                                    <a href="https://accounts.google.com/">Click to Check Mail</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">

                </div>
            </div>
        </div>




    }


</body>
</html>
<script>
    $(document).ready(function () {
        $("#myform").validate({
            rules: {
                email: {
                    required: true,

                },


            }
        })
    })
</script>
